.banner{
    background: url(http://i.imgur.com/HTP08mA.png) 0px -3px no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
    margin-top: -20px;
}

.banner .logo{
    margin-top: 15px;
}

.action-buttons .btn i{
    font-size: 20px;
}
.icon-right{
    float: right;
    margin-right: 15px;
}
.share .btn{
    width: 55px;
}